@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0c151c
}

li {
  list-style-type: none;
}

input[type='checkbox'] {
  accent-color: #0c151c;
  cursor: pointer;
}

.checking:checked + .todo p {
  text-decoration: line-through !important;
  @apply text-gray-700;
}

